.hamburger-nav {
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    color: black;
    border-top: 1px solid black;
    background: var(--pink);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all .2s ease-out allow-discrete;
}

.hamburger-span {
    display: flex;
    justify-content: space-between;
}

.hamburger-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.hamburger-nav li {
    padding: .75em;
    border-bottom: 1px solid black;
}

@media (max-width: 1023px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 2.5rem;
        background-color: var(--pink);
        padding: .6rem;
        border-radius: .5rem;
        overflow-x: hidden;
    }

    .hamburger span {
        height: .375rem;
        background-color: var(--purple);
        border-radius: .25rem;
    }

    .hamburger.active span:nth-child(1) {
        translate: 0 14px;
        rotate: 45deg;
    }

    .hamburger.active span:nth-child(2) {
        transform: translateX(200%);
        transition: transform .01s;
    }

    .hamburger.active span:nth-child(3) {
        translate: 0 -14px;
        rotate: -45deg;
    }

    .hamburger-nav.active {
        max-height: 500px;
        opacity: 1;
    }

    .hamburger span:nth-child(1) {
        transition: .2s;
    }

    .hamburger span:nth-child(2) {
        transform: translateX(0);
    }

    .hamburger span:nth-child(3) {
        transition: .2s;
    }
}

@media (min-width: 1024px) {
    .hamburger-span {
        display: none;
    }

    .hamburger-nav {
        position: static;
        display: inline-block;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1.25rem 1rem 2.5rem;
        width: fit-content;
        opacity: 1;
    }

    .hamburger-nav ul {
        display: flex;
        align-items: center;
    }

    .hamburger-nav li {
        border-bottom: none;
        padding: 0 1rem;   
    }
}