.hamburger {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 2.5rem;
    background-color: var(--pink);
    padding: .6rem;
    border-radius: .5rem;
    border: 1px solid var(--purple);
}

.hamburger span {
    height: .375rem;
    background-color: var(--purple);
}



.hamburger.active span:nth-child(1) {
    translate: 0 14px;
    rotate: 45deg;
    transition: translate 1s, .2s;
}

.hamburger.active span:nth-child(2) {
    transform: translateX(300%);
    transition: transform .1s;
}

.hamburger.active span:nth-child(3) {
    translate: 0 -14px;
    rotate: -45deg;
    transition: translate 1s, .2s;
}

.hamburger-nav.active {
    max-height: 500px;
    opacity: 1;
}

.hamburger span:nth-child(1) {
    transition: .2s;
}

.hamburger span:nth-child(2) {
    transform: translateX(0);
    transition: transform .1s;
}

.hamburger span:nth-child(3) {
    transition: .2s;
}