@layer reset, layout, fonts, icons, hamburger, swiper, animation;

@import url(/src/styles/normalize.css) layer(reset);
@import url(/src/styles/font.css) layer(fonts);
@import url(/src/styles/hamburger.css) layer(hamburger);
@import url(/src/styles/swiper.css) layer(swiper);
@import url(/src/styles/icons.css) layer(icons);
@import url(/src/styles/animation.css) layer(animation);
@import url(swiper/css);
@import url(swiper/css/navigation);
@import url(swiper/css/pagination);

@layer reset {
    :root {
        --primary: #D9D9D9;
        --purple: #4A276D;
        --pink: #FBCBD5;
        color-scheme: light dark;
        --background: light-dark(var(--white, #D0ABAB), var(--gray, #bb9292));
    }

    html {
        font-family: "Lora", serif;
        font-size: 16px;
        scroll-behavior: smooth;
    }
}

@layer layout {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--background);
        overflow-x: hidden;
    }

    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .header__logo {
        display: flex;
        gap: .25rem;
    }

    .figure {
        order: -1;
        margin: 0;
    }

    .logo__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        color: #602961;
        margin: 0;
        font-weight: 500;
        padding: .5rem 0;
    }

    .logo__text--big {
        margin: 0;
        font-size: 1.5em;
    }

    .logo__text--small {
        margin: 0;
        font-size: .75em;
    }

    .nav__link {
        display: inline-block;
        color: black;
        text-decoration: none;
        font-size: 16px;
        transition: font-size 0.2s ease-in-out;
    }

    .nav__link:hover {
        font-size: 17px;
    }

    .nav__link--bold {
        font-weight: bold;
        margin: 0;
    }

    .main {
        flex-grow: 1;
        align-content: center;
        padding: 0 1.25rem;
    }

    .main__title {
        font-family: "Raleway", sans-serif;
        text-align: center;
        color: #4A276D;
        font-weight: bold;
        font-size: 3.5rem;
        margin: 1.5rem 1.5rem 2.5rem 1.5rem;
    }

    .main__section__contact { /*contact*/
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 520px));
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        gap: 2rem;
    }
    .main__intro {
        background-color: var(--purple);
        color: white;
        border-radius: 1rem;
        text-align: center;
        max-width: 600px;
        margin: 3rem auto;
        padding: 1.25rem;
    }

    .main__intro-title {
        font-family: "Raleway", sans-serif;
        font-size: 2em;
        margin: 0;
    }

    .main__intro-title::after {
        display: block;
        content: "";
        margin: 1rem 0;
        background-color: white;
        width: auto;
        height: 1px;
    }

    .main__intro-text {
        margin: 0 auto;
    }

    .main__section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
        justify-content: center;
        gap: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--pink);
        border-radius: 1rem;
        border: 1px solid black;
        color: black;
        transition: transform 0.3s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card__content {
        padding: 1rem;
    }

    .card__title {
        font-family: "Raleway", sans-serif;
        font-size: 1.625em;
        font-weight: 400;
        margin: 0;
    }

    .card__title::after {
        display: block;
        content: "";
        margin: 1rem 0;
        background-color: black;
        height: 1px;
    }

    .card__text {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .card__text::after {
        display: block;
        content: "";
        margin: 1rem 0;
        background-color: black;
        width: auto;
        height: 1px;
    }

    .header__text { /*catalog*/
        font-family: "Raleway", sans-serif;
        text-align: center;
        font-size: 2.25rem;
        font-weight: 600;
        color: black;
        margin: 0 auto;
    }

    .header__nav { /*catalog*/
        display: grid;
        gap: 1rem;
        color: white;
        background-color: var(--purple);
        padding: 2rem;
        margin: 2.5rem auto;
        border-radius: 1rem;
        max-width: 600px;
    }

    .button {
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-size: 0.75em;
        background-color: var(--background);
        color: black;
        border: 0;
        border-radius: 0.25em;
        padding: 0.5em 1.5em;
        text-decoration: none;
        transition: font-size 0.2s ease-in-out;
    }

    .button:hover {
        font-size: .85em;
    }

    .image-responsive {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
    }

    .image__width { /*catalog*/
        width: 60%;
        margin: 0 auto;
    }

    .card__image-wrapper {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }

    .form {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--purple);
        padding: 3.5rem 1rem 1rem 1rem;
        margin: 3rem auto;
        border-radius: 1rem;
        max-width: 600px;
    }

    .form__title {
        font-family: "Raleway", sans-serif;
        font-size: 1.875em;
        font-weight: 400;
        color: white;
        margin: 0;
    }

    .form__content {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        font-weight: bold;
        color: white;
    }
    
    .form__field {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form__input {
        background-color: var(--primary);
        color: black;
        font-style: italic;
        font-size: .75em;
        border: 0;
        border-radius: 1em;
        padding: .75em;
        margin: 1em 0 1em 0;
    }

    .form__submit {
        background-color: var(--background);
        color: black;
        text-align: center;
        text-decoration: none;
        padding: .75em;
        margin: 1em auto;
        border-radius: .25em;
        border: 0;
        transition: font-size 0.2s ease-in-out;
    }

    .form__submit:hover {
        font-size: 17px;
    }   

    .footer {
        display: flex;
        flex-direction: column;
        background-color: var(--purple);
        padding: 2.5rem 1rem 1.25rem;
        margin-top: 3rem;
        text-align: center;
    }

    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
        list-style: none;
        padding: 0;
        margin: 0 0 2rem;
    }

    .button__hover {
        transition: font-size 0.2s ease-in-out;
    }

    .button__hover:hover {
        font-size: 17px;
    }
    
    .footer__copy {
        font-size: .75rem;
        margin: 0;
        color: white;
    }




















    .gap {
        margin-bottom: 2rem;
    }








    li a {
        text-decoration: none;
        color: white;
    }


    .main__text__first {
        margin: 0;
    }













    .img-small {
        min-width: 200px;
        max-width: 200px;
    }

    .img-big {
        max-width: 300px;
    }






    


    .black {
        color: black;
        text-decoration: none;
    }




    .menu {
        list-style-type: none;
    }


    .mapa {
        border-radius: 1rem;
    }


    @media (min-width: 1112px) {
        .main__section__contact {
            grid-template-rows: 1fr;
        }
    }

    @media (min-width: 675px) {
        .form__field {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        .form__content {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-top: 2rem;
        }

        .form__field:nth-child(3) {
            grid-row: span 2;
            order: -1;
        }

        .form__field:nth-child(1) {
            order: -1;
        }

        .form__submit {
            grid-column: span 2;
        }
    }
    @media (min-width: 1305px) {
        .header__nav {
            display: none;
        }
        .main__section {
            padding: 3rem 0;
        }
    }
}