@layer reset, layout, fonts, hamburger;

@import url(/src/styles/normalize.css) layer(reset);
@import url(/src/styles/font.css) layer(fonts);
@import url(/src/styles/hamburger.css) layer(hamburger);

@layer reset {
    :root {
        --background: #ECD2C8;
        --primary: #D0ABAB;
        --purple: #4A276D;
        --pink: #FBCBD5;
        color-scheme: light dark;
        /* --color: light-dark(var(--gray, #3A3F45), var(--white, #F0F0F0));
        --background: light-dark(var(--white, #F0F0F0), var(--gray, #3A3F45)); */
    }

    html {
        background-color: var(--background);
        font-family: "Lora", serif;
        font-size: 16px;
    }
}

@layer layout {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: .5rem;
    }

    .logo {
        display: flex;
        align-items: flex-start;
        gap: .25rem;
    }

    .logo__text {
        font-family: "Poppins", sans-serif;
        color: #602961;
        margin: 0;
        font-weight: 500;
        padding: .5rem 0;
    }

    .logo__text__big {
        margin: 0;
        font-size: 1.5em;
    }
    .logo__text__small {
        margin: 0;
        font-size: .75em;
    }
    /* body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 595px;
    } */

    .main__title {
        display: flex;
        font-family: "Playfair Display", serif;
        justify-content: center;
        text-align: center;
        color: #4A276D;
        font-weight: bold;
        font-size: 3.5rem;
        margin: 1.5rem 1.5rem 2.5rem 1.5rem;
    }

    .main {
        height: 100vh;
    }

    .main__section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
        justify-content: center;
    }

    .main__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: var(--pink);
        gap: .75rem;
        margin: 0 1.25rem 3rem 1.25rem;
        border-radius: 1rem;
        border: 1px solid black;
        color: black;
        align-self: flex-start;
    }

    .main__article {
        padding: 1.25rem 1.25rem 0 1.25rem;
        justify-content: center;
    }

    .main__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.875em;
        font-weight: 400;
        margin: 0;
        font-family: "Playfair Display", serif;
    }

    .main__header {
        display: flex;
        justify-content: center;
        background-color: var(--purple);
        color: white;
        border-radius: 1rem;
        margin: 0 1.25rem 3rem 1.25rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .main__header__title {
        font-family: "Playfair Display", serif;
        font-size: 1.875em;
        margin: 0;
        padding-bottom: 1rem;
    }

    .main__header__title::after {
        display: block;
        content: "";
        margin-top: 1rem;
        background-color: white;
        width: auto;
        height: 1px;
    }

    .main__header__text {
        margin: 0 auto;
    }

    .main__heading::after {
        display: block;
        content: "";
        margin-top: .75rem;
        margin-bottom: .75rem;
        background-color: black;
        height: 1px;
        width: auto;
        align-self: stretch;
    }

    .main__text__first {
        margin: 0;
    }

    .main__text {
        margin: 0;
        text-align: left;
    }

    .main__text::after {
        display: block;
        content: "";
        margin-top: .75rem;
        margin-bottom: .75rem;
        background-color: black;
        width: auto;
        height: 1px;
    }

    .button {
        display: inline-block;
        font-family: "Poppins", sans-serif;
        font-size: .75em;
        background-color: var(--primary);
        color: black;
        border: 0;
        border-radius: .25em;
        padding: .5em 1.5em .5em 1.5em;
        text-decoration: none;
    }

    .image__responsive {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .form {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--purple);
        padding: 1rem;
        margin: 0 1.25rem 3rem 1.25rem;
        border-radius: 1rem;
    }

    .form__text {
        font-size: 1.875em;
        font-weight: 400;
        padding-bottom: 1em;
        margin: 0;
        font-family: "Playfair Display", serif;
    }

    .form__content {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-weight: bold;
    }

    .form__input {
        background-color: #D9D9D9;
        font-style: italic;
        font-size: .75em;
        border: 0;
        border-radius: 1em;
        padding: .75em;
        margin: .5em 0 1.5em 0;
    }

    .form__button {
        text-align: center;
        background-color: var(--primary);
        text-decoration: none;
        color: black;
        padding: .75em;
        margin: 1em 4.25em 0 4.25em;
        border-radius: .25em;
    }

    .footer {
        display: flex;
        flex-direction: column;
        background-color: var(--purple);
        padding: 2.5rem 1rem 1.25rem;
        text-align: center;
    }

    .footer__menu {
        list-style: none;
        padding: 0;
        margin: 0 0 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.25rem;
    }

    .footer__menu li a {
        color: white;
        text-decoration: none;
    }

    .footer__copy {
        font-size: .75rem;
        margin: 0;
    }
}