@import url(swiper/css);
@import url(swiper/css/navigation);
@import url(swiper/css/pagination);

:root {
    /* --swiper-gap: 2.5rem; */
    --swiper-display: grid;
    /* --swiper-theme-color: black; */
    --swiper-pagination-color: black;
    --swiper-pagination-bullet-inactive-color: #464646;
    --swiper-pagination-bullet-inactive-opacity: .4;
    --swiper-pagination-bullet-size: .75rem;
    --swiper-pagination-bullet-horizontal-gap: .25rem;
    --swiper-navigation-size: 3.25rem;
    /* --swiper-navigation-sides-offset: 0; */
}

.swiper {
    max-width: 1000px;
    background-color: var(--background);
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.swiper__text {
    color: black;
    font-size: 2rem;
    margin: 0 auto;
    padding-top: 3rem;
}

.swiper-slide {
    padding: 3rem .5rem;
    box-sizing: border-box;
}

.swiper__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .75rem;
    max-width: 900px;
    margin: 0 auto;
}

.swiper__images .img {
    flex-basis: 30%;
    flex-grow: 1;
    border-radius: .75rem;
}

.swiper__images .img:nth-child(3) {
    flex-basis: 90%;
    flex-grow: 1;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: black;
    font-weight: 900;
}



@media (min-width:780px) {
    .swiper__images .img:nth-child(2) {
        order: 1;
    }
}